html {
  scroll-behavior: smooth;
}

.custom-shape-divider-bottom-1666547358 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666547358 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1666547358 .shape-fill {
  fill: #EDF2F7;
}